* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.container {
    max-width: 1140px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.logo {
    width: 500px;
    margin-left: -180px;
}

.main {
    margin-left: 200px;
    margin-top: -200px;
    font-size: 30px;
}

.main1 {
    margin-left: 220px;
    margin-top: -35px;
    font-size: 30px;
    color: #F7D22D;
}

.main2 {
    font-size: 20px;
    margin-left: 30px;
    margin-top: -20px;
}

.main3 {
    font-size: 20px;
    margin-left: 250px;
    margin-top: -25px;
}

.main4 {
    margin-left: 700px;
    margin-top: -90px;
    color: #F7D22D;
}

.list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    list-style: none;
    margin-bottom: 35px;
    margin-top: 100px;
}

.list_link {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 25px;
    color: black;
    padding-bottom: 5px;
    border-bottom: 1.5px solid transparent;
    transition: 0.5s;
}

.list_link:hover {
    color: black;
    border-color: black;
}

.list__link{
    width: 195px;
    height: 53px;
    padding: 15px;
    text-align: center;

    border-radius: 50px;
    background: #F7D22D;

    color: black;
    margin-top: 50px;
}

.foto {
    margin-left: -150px;
}

.foto2 {
    margin-left: 70px;
}

.text {
    margin-top: 100px;
    font-size: 30px;
}

.foto3 {
    margin-left: -480px;
}

.text1 {
    margin-top: 50px;
    font-size: 30px;
}

.foto4 {
    margin-left: -90px;
    margin-top: -100px;
}

.text2 {
    color: black;
    font-size: 20px;
    margin-top: -30px;
    margin-left: 20px;
}

.text3 {
    margin-left: 300px;
    margin-top: -110px;
}

.text4 {
    margin-left: 600px;
    margin-top: -110px;
}

.text5 {
    margin-left: 900px;
    margin-top: -110px;
}

.title {
    font-size: 30px;
    margin-top: -300px;
}

.foto5 {
    margin-top: 100px;
}

.title1 {
    color: gray;
    font-size: 30px;
}

.title2 {
    font-size: 20px;
    padding: 20px;
    margin-left: -20px;
}

.title3{
    color: black;
}

.title4 {
    margin-left: 180px;
    width: 195px;
    height: 65px;
    padding: 15px;
    text-align: center;

    border-radius: 50px;
    background: #F7D22D;

    color: black;
    margin-top: -50px;
}

.title5 {
    margin-left: 700px;
    margin-top: -610px;
}

.title7 {
    margin-left: 700px;
    margin-top: -610px;
}

.vov {
    text-align: center;
    margin-top: 100px;
    font-size: 50px;
}

.foto6 {
    margin-top: 50px;
}

.vov1 {
    margin-left: 550px;
    margin-top: -400px;
}

.vov2 {
 width: 195px;
 height: 53px;
 padding: 20px;
 text-align: center;
    
 border-radius: 50px;
 background: #F7D22D;
    
 color: black;
 margin-top: 250px;
 margin-left: 450px;
}

.pop{
    background-color: #E3ECF5;
    height: 100vh;
    margin-top: 100px;
   align-items: center;
}

.pop1 {
    text-align: center;
    padding: 100px;
    font-size: 50px;
    color: #F7D22D;
}

.pop2{
    margin-left: -70px;
}

.foto7 {
    margin-left: 300px;
}


.foto7 {
    margin-left: 500px;
}

.lol {
    font-size: 25px;
    margin-top: -70px;
}

.lol1 {
    margin-left: 300px;
    margin-top: -25px;
}

.lol2 {
    margin-top: 50px;
}

.lol3 {
    margin-top: 30px;
}

.lol4 {
    margin-left: 150px;
    margin-top: -30px;
}

.lol5 {
    margin-left: 300px;
    margin-top: -30px;
}

.lol6 {
    font-size: 20px;
    margin-top: 100px;
}

.lol7 {
    margin-top: -400px;
    margin-left: 1300px;;
    font-size: 30px;
}

.lol8 {
    margin-left: 1300px;
    color: black;
    font-size: 40px;
}

.lol9 {
    margin-top: 50px;
}

.lol10 {
    color: #F7D22D;
    font-size: 30px;
    margin-left: 1300px;
    margin-top: 50px;
}

.lol11 {
    margin-left: -10px;
    margin-top: 50px;
    width: 250px;
    height: 65px;
    padding: 15px;
    text-align: center;

    border-radius: 50px;
    background: #F3F3F7;

    color: black;
}
